@import "../omarchy/current/theme/waybar.css";
@define-color bg @background;
@define-color fg @foreground;
@define-color ia1 #101010;

* {

  border-radius: 1px;
  font-family: 'JetBrainsMono Nerd Font Propo';
  font-size: 10px;
  font-weight: bold;
  min-height: 0;
  }


/* --- Waybar ---*/
window#waybar {
  background-color: @bg;
  border-bottom: 2px solid @fg;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.empty #window {
  background-color: transparent;
  padding: 0;
}

/* --- Modules --- */

.modules-center {
  background: @bg;
  box-shadow: 1px 1px 3px 0px @ia1;
  margin: 4px 0px 8px 0px;
  border-radius: 2px;
  padding: 0px;
 }

#right {
  background: @bg;
  box-shadow: 1px 1px 3px 0px @ia1;
  border-radius: 2px;
  margin: 4px 4px 8px 0px;
  padding: 0px;
}

#right1 {
  background: @bg;
  box-shadow: 1px 1px 3px 0px @ia1;
  border-radius: 2px;
  margin: 4px 4px 8px 0px;
  padding: 0px;
}

#right2 {
  margin-right: 5px;
  background: @bg;
  box-shadow: 1px 1px 3px 0px @ia1;
  border-radius: 2px;
  margin: 4px 4px 8px 4px;
  padding: 0px;
}

/* --- Workspaces --- */
#workspaces {
  background-color: @bg;
  box-shadow: 1px 1px 3px 0px @ia1;
  margin: 4px 4px 8px 0px;
  border-radius: 2px;
}

#workspaces button {
  all: initial;
  min-width: 0;
  box-shadow: inset 0 -3px transparent;
  color: @fg;
  background-color: @bg;
  padding: 1px 6px;
  margin: 2px 3px;
  border-radius: 2px;
}
#workspaces button.active {
  background-color: @fg;
  color: @bg;
}

#workspaces button.empty {
  color: @fg;
  background: @bg;
  opacity: 0.35;
}

#workspaces button.empty.active {
  color: @bg;
  background: @fg;
  opacity: 1;
}

#workspaces button:hover {
    background-color: @fg;
    color: @bg;
    opacity: 1;
}


/* --- Custom Color+Shdow Omarchy --- */
#custom-omarchy{
  padding: 0 5px;
  border-radius: 2px;
  background-color: @bg;
  box-shadow: 1px 1px 3px 0px @ia1;
  color: @fg;
  margin: 4px 4px 8px 4px;
}
#window{
  padding: 0 5px;
  background: @bg;
  border-radius: 2px;
  box-shadow: 1px 1px 3px 0px @ia1;
  margin: 4px 4px 8px 0px;
  color: @fg;
}


/* --- General Modules --- */

#cava,
#mpris,
#tray,
#memory,
#cpu,
#battery,
#network,
#backlight,
#custom-updatespacman,
#temperature,
#bluetooth,
#pulseaudio,
#custom-idle-indicator,
#custom-notification-silencing-indicator,
#custom-weather,
#custom-update,
#custom-screenrecording-indicator,
#clock {
  min-width: 14px;
  padding-left: 3px;
  padding-right: 3px;
  margin: 0 2px 0 2px;
  
}

/* --- Right module Hover color --- */
#clock:hover,
#cpu:hover,
#memory:hover,
#window:hover,
#mpris:hover,
#temperature:hover,
#battery:hover,
#power-profiles-daemon:hover,
#bluetooth:hover,
#backlight:hover,
#custom-omarchy:hover,
#custom-weather:hover,
#custom-update:hover,
#idle_inhibitor:hover,
#custom-screenrecording-indicator,
#custom-updatespacman:hover,
#network:hover,
#pulseaudio:hover {
  background-color: @fg;
  color: @bg;
  border-radius: 2px;
}

tooltip {
  padding: 2px;
}

tooltip {
 padding: 4px;
 background: @bg;
 font-size: 10px;
 border: 1.5px solid alpha(@fg, 0.8);
 border-radius: 8px;
}
tooltip label {
    color: @fg;
    font-weight: normal;
}

#custom-voxtype {
  min-width: 12px;
  margin: 0 0 0 7.5px;
}

#custom-voxtype.recording {
  color: #a55555;
}

#custom-idle-indicator,
#custom-notification-silencing-indicator {
  min-width: 12px;
  margin-left: 0;
  margin-right: 0;
  font-size: 10px;
  padding-bottom: 0px;
}

#custom-idle-indicator.active,
#custom-notification-silencing-indicator.active {
  color: #a55555;
}

/* Specific Module */

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: transparent;
}

#custom-screenrecording-indicator.active {
  color: #eb7087;
  background-color: @bg;
  animation-name: blink-recording;
  animation-duration: 0.5s;
}

@keyframes blink-recording {
    to {
        color: @bg;
    }
}

#battery.warning {
  color: #c95d0f;
   background-color: @bg;
}

@keyframes blink2 {
  to {
    background-color: @bg;
    color: #f53c3c;
  }
}

#battery.critical:not(.charging) {
  background-color: @bg;
  color: #e6d8ba;
  animation-name: blink2;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
