@import "../omarchy/current/theme/waybar.css";

* {
  border: none;
  font-family: 'CaskaydiaMono Nerd Font Propo';
  min-height: 0;
}

tooltip {
  opacity: 1;

 }

 window#waybar {
  background-color: transparent;
  color: @foreground;
  
}

window#waybar.empty #window{
  background: transparent;
  color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

#waybar > box {
    border: 1.5px solid rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    margin: 0px 8px 4px 8px;
    background-color: alpha(@background, 1);
    box-shadow: 1px 1px 3px 1px #101010;
    transition-property: background-color;
    transition-duration: .5s;
 
 }


.modules-left {
   font-size: 12px;
   margin-left: 4px;
}

.modules-right {
  font-size: 12px;
  margin-right: 4px;
}

.modules-center {
  font-size: 12px;
}

#custom-omarchy {
  font-size: 12px;
}

#workspaces {
  padding: 0;
  margin: 0;
}

#workspaces button {
  all: initial;
  font-size: 14px;
  min-width: 0;
  min-height: 0;
  padding: 0 6px;
  margin: 0px;
  opacity: 0.6;
  color: @foreground;
}

#workspaces button.active {
    color: @foreground;
    opacity: 1.0;
    padding: 0 6px;
    margin: 0px;
    font-size: 18px;
    transition: all 0.15s ease-in-out;
}

#workspaces button.empty.active {
    color: @foreground;
    opacity: 1.0;
    font-size: 16px;
    transition: all 0.15s ease-in-out;
}


#workspaces button.empty {
  opacity: 0.3;
  font-size: 14px;
}

#power-profiles-daemon,
#power-profiles-daemon.performance,
#power-profiles-daemon.balanced,
#power-profiles-daemon.power-saver,
#hyprland-window,
#window,
#tray,
#group-tray-expander,
#cpu,
#clock,
#mpris,
#battery,
#network,
#bluetooth,
#pulseaudio,
#custom-omarchy,
#backlight,
#idle_inhibitor,
#custom-updatespacman,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  margin: 0px 3px 0px 3px;
  padding: 0 4px;
}

tooltip {
  padding: 0.5px;
}


.hidden {
  opacity: 0;
}

#tray-expander {
  margin-left: 0px;
}

#custom-separator {
  opacity: 0.2;
  padding-top: 2px;
  padding-left: 4px;
  padding-right: 4px;
}

tooltip {
 padding: 4px;
 background: @background;
 font-size: 12px;
 border: 1px solid alpha(@foreground, 0.8);
 border-radius: 8px;
 box-shadow: 1px 1px 3px 1px #131313;
 font-weight: lighter;
}
tooltip label {
    color: @foreground;
    font-weight: normal;
}

#custom-voxtype {
  min-width: 12px;
  margin: 0 0 0 2.5px;
}

#custom-voxtype.recording {
  color: #a55555;
}

/* Specific animation Module */

#custom-screenrecording-indicator {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: transparent;
}

#custom-screenrecording-indicator.active {
  color: #eb7087;
  animation-name: blink-recording;
  animation-duration: 0.5s;
}

@keyframes blink-recording {
    to {
        color: @background;
    }
}

@keyframes blink {
    to {
        color: #4a4a4a;
        
    }
}


#mpris {
color: @foreground;
font-size: 12px;
animation: repeat;
	animation-name: blink;
	animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning {
  color: #c95d0f;
}

@keyframes blink2 {
  to {
    background-color: transparent;
    color: #f53c3c;
  }
}

#battery.critical:not(.charging) {
  background-color: transparent;
  color: #e6d8ba;
  animation-name: blink2;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
