@import "../omarchy/current/theme/waybar.css";

@define-color bg #1e1e1e;
@define-color fg #b4b4b4;
@define-color border #484848;
@define-color border-inactive_ws #4c4c4c;
@define-color border-active_ws #5f5f5f;
@define-color hover_bg #665B32;
@define-color hover_fg #1e1e1e;

* {
  /* background-color: @background; */
  /* color: @foreground; */
  
  border-radius: 0;
  border: none;
  text-shadow: none;
  padding: 0;
	min-height: 0;
  min-width: 0px;
  font-family: 'CaskaydiaCove Nerd Font Propo';
    text-shadow: 0 0 5px #1b1b1b, /* Soft inner glow */
                 0 0 5px #2b2b2b, /* Brighter glow */
                 0 0 5px #3d3d3d, /* Even brighter */
                 0 0 5px #100c08; /* Wider glow */
}

#waybar  {
  background-color: transparent;
}

#waybar > box {
  color: @fg;
  background-color: @bg;
  margin: 0px 1px 0px 1px;
  padding: 0px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 1);
  border-right: 1.5px solid @border;
  border-top: 2.5px solid @border;
  border-bottom: 2.5px solid @border;
  border-radius: 2px;
  font-weight: 700;
  font-size: 11px;
  min-height: 300px;
  transition-property: background-color;
  transition-duration: .5s;
}


#center2 {
  margin: 0px;
}

#workspaces {
  padding: 0 0px;
  margin: 0px 0px;
  background-color: @bg;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

button {
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 0;
  transition: 0.3s ease-in-out;
}

button:hover {
  background: inherit;
}

#workspaces button {
  all: initial;
  border: 1.5px solid @border-inactive_ws;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  padding: 0px;
  min-width: 25px;
  margin: 0 1px;
  opacity: 0.55;
  color: @fg;
  font-size: 12px;
  font-weight: bold;
}

#workspaces button.active {
  color: @fg;
  border: 1.5px solid @border-active_ws;
  opacity: 1.0;
  font-size: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

#workspaces button.empty {
  opacity: 0.15;
  font-size: 12px;
  color: @fg;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

#workspaces button.empty.active {
  font-size: 12px;
  color: @fg;
  opacity: 1.0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

#workspaces button.empty:hover,
#workspaces button:hover {
  background: @hover_bg;
  color: @hover_fg;
  opacity: 1.0;
}


#tray,
#clock,
#cpu,
#memory,
#battery,
#backlight,
#network,
#bluetooth,
#pulseaudio,
#power-profiles-daemon,
#mpris,
#temperature,
#idle_inhibitor,
#group-tray-expander,
#custom-update,
#custom-voxtype,
#custom-voxtype.recording,
#custom-voxtype.transcribing,
#custom-expand-icon,
#custom-omarchy,
#custom-updatespacman,
#custom-screenrecording-indicator {
  min-width: 14px;
  margin: 1px 0px 1px 0px;
  padding: 0 4px;
}


#network {
  margin-right: 5px;
}

#custom-omarchy {
  font-size: 16px;
  padding-left: 2px;
  padding-right: 8px;
}

#custom-update {
font-size: 10px;
padding-left: 1px;
padding-right: 4px;
}

tooltip {
  padding: 2px;
}


#custom-expand-icon {
  padding-left: 0;
}



#tray {
    background-color: transparent;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @bg;
}

.hidden {
  opacity: 0;
}

#power-profiles-daemon,
#power-profiles-daemon.performance,
#power-profiles-daemon.balanced,
#power-profiles-daemon.power-saver {
    margin: 0 6px 0px 0px;
}

#group-tray-expander {
  background-color: @bg;
  color: @fg;
}

#custom-updatespacman {
  opacity: 0.55;
}

#custom-separator {
  opacity: 0.2;
  padding-top: 1px;
  margin: 0px 4px 0px 0px;
  padding-bottom: 1px;
  color: @border-inactive;
}

tooltip {
 padding: 4px;
 background: @bg;
 font-size: 11px;
 border-radius: 8px;
 border: 1.5px solid rgba(255, 255, 255, 0.25);
}
tooltip label {
    color: @fg;
}

/* Specific animation Module */

#custom-screenrecording-indicator {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: transparent;
}

#custom-screenrecording-indicator.active {
  color: #eb7087;
  animation-name: blink-recording;
  animation-duration: 0.5s;
}

@keyframes blink-recording {
    to {
        color: @bg;
    }
}

#custom-voxtype {
  min-width: 12px;
  margin: 0 0 0 2.5px;
}

#custom-voxtype.recording {
  color: #a55555;
}

#battery.warning {
  color: #c95d0f;
  background-color: @bg;
}

@keyframes blink2 {
  to {
    background-color: @bg;
    color: #f53c3c;
  }
}

#battery.critical:not(.charging) {
  background-color: transparent;
  color: #e6d8ba;
  animation-name: blink2;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
