* {
  font-family: "JetBrainsMono Nerd Font Propo";
  font-size: 13px;
  font-weight: bold;
  border-radius: 5px;
  min-height: 0;
}

tooltip {
  opacity: 1;

}

window#waybar {
  background-color: #131315;
  color: @foreground;
  border-radius: 10px;
}

#window {
  margin: 5px;
}

#custom-omarchy {
  font-size: 15px;
  margin: 5px;
  padding: 0 5px;
  border-radius: 5px;
  background-color: #27272a;
}

window#waybar.empty #window{
  background: transparent;
  color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

#workspaces {
  margin: 5px;
  background-color: #27272a;
  margin-left: 0px;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: @foreground;
  border-radius: 5px;
  transition: 0.15s ease-in-out;
}

#workspaces button:hover {
  background: @foreground;
  color: #000;
}

#workspaces button.active {
  background-color: #ff9b71;
  color: @background;
}

#workspaces button.empty {
  color: #777;
}

#workspaces button.empty.active {
  background-color: @foreground;
  color: #000;
}

#hyprland-window,
#clock,
#battery,
#cpu,
#mpris,
#network,
#pulseaudio,
#idle_inhibitor,
#power-profiles-daemon,
#tray,
#bluetooth,
#backlight,
#custom-update,
#custom-updatespacman,
#custom-screenrecording-indicator {
  padding: 0 8px;
  color: @foreground;
  margin: 5px 5px 5px 0;
}

#tray {
  background-color: #27272a;
}

#clock, #idle_inhibitor, #custom-update, #custom-updatespacman {
background-color: #27272a;
}

#battery {
  background-color: #27272a;
  color: @foreground;
}

#backlight {
  background-color: #27272a;
  color: @foreground;
}

#power-profiles-daemon.performance {
  background-color: #ff9b71;
  color: #000;
}

#power-profiles-daemon.balanced {
  background-color: #27272a;
  color: @foreground;
}

#power-profiles-daemon.power-saver {
  background-color: #27272a;
  color: @foreground;
}

#cpu {
  background-color: #27272a;
  color: @foreground;
}

#mpris {
  background-color: #27272a;
  color: @foreground;
}

#network {
  background-color: #27272a;
}

#network.disconnected {
  background-color: #ff9b71;
  color: #000;
}

#bluetooth {
  background-color: #27272a;
}

#bluetooth.disabled {
  background-color: #ff9b71;
  color: #000;
}

#pulseaudio {
  background-color: #27272a;
  color: @foreground;
}

#pulseaudio.muted {
  background-color: #ff9b71;
  color: #000;
}

tooltip {
 padding: 4px;
 background: #27272a;
 border: 1px solid alpha(@foreground, 0.8);
 border-radius: 8px;
 box-shadow: 1px 1px 3px 1px #131313;
 font-size: 12px;
}
tooltip label {
    color: @foreground;
    font-weight: normal;
}

/* Specific animation Module */

#custom-screenrecording-indicator {
    font-size: 12px;
    padding: 0px;
    margin: 5px;
}

#custom-screenrecording-indicator {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: transparent;
}

#custom-screenrecording-indicator.active {
  color: #eb7087;
  animation-name: blink-recording;
  animation-duration: 0.5s;
}

@keyframes blink-recording {
    to {
        color: @background;
    }
}

@keyframes blink {
    to {
        color: #4a4a4a;
        
    }
}

@keyframes blink-inhibitor {
    to {
        color: @background;
    }
}

#idle_inhibitor {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: @foreground;
 }

#idle_inhibitor.activated {
  color: #178b76;
  animation-name: blink-inhibitor;
  animation-duration: 1s;
}

#mpris {
color: @foreground;
font-size: 13px;
padding-top: 1px;
margin-right: 0px;
animation: repeat;
	animation-name: blink;
	animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}