@import "../omarchy/current/theme/waybar.css";


* {
  /* background-color: @background; */
  color: @foreground;

  border: none;
  border-radius:0 0 8px 8px;
  font-family: 'CaskaydiaMono Nerd Font Propo';
  min-height: 0px;
}

window#waybar {
  background-color: transparent;
}

#waybar > box {
  border-radius: 3px;
  border: 3px solid rgba(255, 255, 255, 0.1);
  margin: 0px 8px 3px 8px;
  background-color: @background;
  box-shadow: 1px 1px 3px 1px #101010;
  transition-property: background-color;
  transition-duration: .5s;
}

.modules-left {
  margin-left: 2px;
}

.modules-right {
  margin-right: 0px;
  font-size: 12px;
}

.modules-center {
  border-radius: 0;
  border-left: 1px solid alpha(@foreground, 0.2);
  border-right: 1px solid alpha(@foreground, 0.2);
  padding: 0 20px;
  font-size: 12px;
}

#workspaces {
  padding: 0;
  margin: 0;
  padding-top: 2px;

}


#workspaces button {
  all: initial;
  font-size: 16px;
  min-width: 0;
  min-height: 0;
  padding: 0;
  margin: 0;
  opacity: 0.65;

}

#workspaces button.active {
    color: @background;
    opacity: 1.0;
    padding: 0;
    margin: 0;
    background: linear-gradient(180deg, @background 75%, @foreground);
    font-size: 16px;
    transition: all 0.15s ease-in-out;
}

#workspaces button.empty {
  opacity: 0.3;
}

#window {
  padding: 2px;
  padding-right: 0;
}

#custom-omarchy {
padding: 2px 0px 1px;
margin-left: 4px;
font-size: 14px;
}

#hyprland-window,
#mpris,
#tray,
#cpu,
#memory,
#battery,
#network,
#bluetooth,
#pulseaudio,
#custom-omarchy,
#backlight,
#clock,
#custom-updatespacman,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
}

#custom-expand-icon {
  margin-right: 12px;
}

tooltip {
  padding: 0.5px;
}


#custom-update {
  font-size: 10px;
  margin: 2px;
}

#tray, #backlight, #custom-updatespacman, #idle_inhibitor, #network, #pulseaudio, #bluetooth, #battery, #cpu {
  margin: 0 10px;
}

#clock {
  margin-right: 8px;
  margin-left: 0px;
  font-size: 12px;
}

#bluetooth, #network {
  margin-right: 4px;
}

#custom-updatespacman, #idle_inhibitor {
  margin-right: 4px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
    font-size: 12px;
    padding: 0px;
    margin: 2px;
}

#custom-screenrecording-indicator {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: transparent;
}

#custom-screenrecording-indicator.active {
  color: #eb7087;
  animation-name: blink-recording;
  animation-duration: 0.5s;
}

@keyframes blink-recording {
    to {
        color: @background;
    }
}

tooltip {
 padding: 4px;
 background: @background;
 font-size: 10px;
 border: 3px solid rgba(255, 255, 255, 0.1);
 border-radius: 8px;
 box-shadow: 1px 1px 3px 1px #131313;
 font-size: 12px;
}
tooltip label {
    color: @foreground;
}

#mpris{
margin-left: 8px;
font-size: 12px;
color: alpha(@foreground, 0.95);
animation: repeat;
	animation-name: blink;
	animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        color: #4a4a4a;
        
    }
}

@keyframes blink-inhibitor {
    to {
        color: @background;
    }
}

#idle_inhibitor {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: @foreground;
}

#idle_inhibitor.activated {
  margin-right: 5px;
  color: #178b76;
  animation-name: blink-inhibitor;
  animation-duration: 1s;
}
