@import "../omarchy/current/theme/waybar.css";


* {
  /* background-color: @background; */
  /* color: @foreground; */

  border: none;
  padding: 0px;
  min-height: 0;
  font-family: "JetBrains Mono Nerd Font";
  transition: background-color .3s ease-out;
  font-weight: bold;
  font-size: 12px;
}

window#waybar  {
  background-color: transparent;
}

#waybar > box {
  border-radius: 0px;
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.1);
  margin: 0px 0px 2px 0px;
  background-color: @background;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 1);
  min-height: 20px;
  transition-property: background-color;
  transition-duration: .5s;
}

.modules-left {
margin-left: 4px;
}

.modules-right {
  margin-right: 4px;
}

#workspaces {
    margin: 0px 0px;
    transition: 0.1s ease-in-out;
    padding: 0px 0px;
}

#workspaces button {
  all: initial;
  padding: 0px 2px;
  margin: 0px 2px;
  color: @foreground;
  border: none;
  opacity: 1;
  font-weight: 900;
  transition: all 150ms ease;
}

#workspaces button.active {
  color: @background;
  background-color: @foreground;
  padding: 1px 2px;
  opacity: 1.0;

}

#workspaces button.empty:hover, 
#workspaces button:hover {
    background: transparent;
    color: alpha(@foreground, 1);
    transition: all 150ms ease;
    opacity: 0.75;
}

#workspaces button.empty {
  opacity: 0.4;
  color: alpha(@foreground, 0.45);
}

#workspaces button.empty.active {
  opacity: 1;
  background-color: @foreground;
  color: @background;
}

#memory,
#mpris,
#custom-expand-icon,
#tray,
#cpu,
#clock,
#battery,
#backlight,
#network,
#bluetooth,
#pulseaudio,
#power-profiles-daemon,
#custom-omarchy,
#idle_inhibitor,
#custom-updatespacman,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  padding: 0 4px;
  margin: 1px 3px 1px 3px;
  opacity: 0.6;
}

#custom-omarchy {
font-size: 11px;
padding-top: 0px;
}

#custom-updatespacman {
opacity: 1;
}

#bluetooth {
padding-left: 0px;
}

#tray {
opacity: 1;
}

#idle_inhibitor {
opacity: 0.4;
}


#idle_inhibitor.activated {
opacity: 1;
}

#custom-expand-icon {
  margin-right: 0px;
  opacity: 0.25;
  font-size: 10px;
}

#network {
  margin-left: 0;
}

#custom-separator {
  opacity: 0.2;
  padding-top: 2px;
  padding-left: 4px;
  padding-right: 4px;
}

tooltip {
  padding: 2px;
}

#power-profiles-daemon,
#power-profiles-daemon.performance,
#power-profiles-daemon.balanced,
#power-profiles-daemon.power-saver {
    margin: 0 4px;
}

.hidden {
  opacity: 0;
}

tooltip {
 padding: 4px;
 background: @background;
 font-size: 10px;
 border: 1.5px solid alpha(@foreground, 0.6);
 border-radius: 8px;
 
}
tooltip label {
    color: alpha(@foreground, 0.65);
    font-weight: normal;
}

#custom-voxtype {
  min-width: 12px;
  margin: 0 0 0 2.5px;
}

#custom-voxtype.recording {
  color: #a55555;
}


/* --- Hover for all modules  --- */
#clock:hover,
#tray:hover,
#custom-expand-icon:hover,
#cpu:hover,
#memory:hover,
#mpris:hover,
#battery:hover,
#power-profiles-daemon:hover,
#bluetooth:hover,
#backlight:hover,
#custom-omarchy:hover,
#custom-update:hover,
#idle_inhibitor:hover,
#custom-screenrecording-indicator,
#custom-updatespacman:hover,
#network:hover,
#pulseaudio:hover {
  border-radius: 0px;
  opacity: 1;
  background-color: transparent;
  color: @foreground;
}

/* Specific animation Module */


#custom-screenrecording-indicator {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: transparent;
}

#custom-screenrecording-indicator.active {
  color: #eb7087;
  animation-name: blink-recording;
  animation-duration: 0.5s;
}

@keyframes blink-recording {
    to {
        color: @background;
    }
}

@keyframes blink-inhibitor {
    to {
        color: @background;
    }
}

#mpris {
opacity: 1;
color: @foreground;
animation: repeat;
	animation-name: blink;
	animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        color: #4a4a4a;
        
    }
}

#battery.warning {
  color: #c95d0f;
}

@keyframes blink2 {
  to {
    background-color: transparent;
    color: #f53c3c;
  }
}

#battery.critical:not(.charging) {
  background-color: transparent;
  color: #e6d8ba;
  animation-name: blink2;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
