@import "../omarchy/current/theme/waybar.css";
@define-color bg #2D2D2D;
@define-color bg2 #3C3C3C;
@define-color fg #AEA99C;
@define-color ia1 #111111;

* {

  border-radius: 1px;
  font-family: 'JetBrainsMono Nerd Font Propo';
  font-size: 12px;
  font-weight: bold;
  min-height: 0;
  }


/* --- Waybar ---*/
window#waybar {
  background-color: transparent;
  
}

#waybar > box {
  border-radius: 5px;
  background-color: @bg;
  box-shadow: 0 0 2px 1px @ia1;
  margin: 2px 4px 4px 4px;
  min-height: 0px;
  transition-property: background-color;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.empty #window {
  background-color: transparent;
}

/* --- Modules --- */

#left1 {
  color: @fg;
  background: @bg2;
  box-shadow: 1px 1px 3px 0px @ia1;
  margin: 2px 4px 2px 4px;
  border-radius: 5px;
  padding: 0 6px;
 }

#left2 {
  color: @fg;
  background: @bg2;
  box-shadow: 1px 1px 3px 0px @ia1;
  margin: 2px 4px 2px 4px;
  border-radius: 5px;
  padding: 0px;
 }

 #left3 {
  color: @fg;
  background: @bg2;
  box-shadow: 1px 1px 3px 0px @ia1;
  margin: 2px 4px 2px 4px;
  border-radius: 5px;
  padding: 0px;
 }


#right {
  color: @fg;
  background: @bg2;
  box-shadow: 1px 1px 3px 0px @ia1;
  border-radius: 5px;
  margin: 2px 4px 2px 4px;
  padding: 0px;
}

#right1 {
  color: @fg;
  background: @bg2;
  box-shadow: 1px 1px 3px 0px @ia1;
  border-radius: 5px;
  margin: 2px 4px 2px 4px;
  padding: 0px;
}

/* --- Workspaces --- */
#workspaces {
  background-color: @bg2;
  box-shadow: 1px 1px 3px 0px @ia1;
  margin: 2px 4px 2px 0px;
  border-radius: 5px;
}

#workspaces button {
  all: initial;
  min-width: 0;
  box-shadow: inset 0 -3px transparent;
  color: @fg;
  background-color: @bg;
  padding: 0px 6px;
  margin: 2px 3px;
  border-radius: 5px;
}
#workspaces button.active {
  background-color: @fg;
  color: @bg;
}

#workspaces button.empty {
  color: @fg;
  background: @bg;
  opacity: 0.35;
}

#workspaces button.empty.active {
  color: @bg;
  background: @fg;
  opacity: 1;
}

#workspaces button:hover {
    background-color: @fg;
    color: @bg;
    opacity: 1;
}


/* --- General Modules --- */

#power-profiles-daemon,
#power-profiles-daemon.performance,
#power-profiles-daemon.balanced,
#power-profiles-daemon.power-saver,
#cava,
#mpris,
#tray,
#memory,
#cpu,
#battery,
#network,
#backlight,
#idle_inhibitor,
#custom-idle-indicator,
#custom-notification-silencing-indicator,
#custom-updatespacman,
#bluetooth,
#pulseaudio,
#custom-update,
#custom-screenrecording-indicator,
#clock {
  min-width: 14px;
  padding-left: 3px;
  padding-right: 3px;
  margin: 0 2px 0 2px;
  
}


#custom-expand-icon {
  opacity: 1;
  font-size: 11px;
  color: @fg;
  padding: 0 8px;
}


/* --- Module Hover color --- */
#clock:hover,
#cpu:hover,
#memory:hover,
#mpris:hover,
#battery:hover,
#power-profiles-daemon:hover,
#bluetooth:hover,
#backlight:hover,
#custom-omarchy:hover,
#custom-update:hover,
#idle_inhibitor:hover,
#custom-screenrecording-indicator,
#custom-updatespacman:hover,
#network:hover,
#pulseaudio:hover {
  background-color: @fg;
  color: @bg;
  border-radius: 5px;
}


tooltip {
  padding: 2px;
}

tooltip {
 padding: 4px;
 background: @bg;
 font-size: 10px;
 border: 1.5px solid alpha(@fg, 0.8);
 border-radius: 8px;
}
tooltip label {
    color: @fg;
    font-weight: normal;
}

#custom-voxtype {
  min-width: 12px;
  margin: 0 0 0 2.5px;
}

#custom-voxtype.recording {
  color: #a55555;
}

#custom-idle-indicator,
#custom-notification-silencing-indicator {
  min-width: 12px;
  margin-left: 0;
  margin-right: 0;
  font-size: 10px;
  padding-bottom: 0px;
}

#custom-idle-indicator.active,
#custom-notification-silencing-indicator.active {
  color: #a55555;
}

/* Specific Module */

.hidden {
  opacity: 0;
}

#mpris {
color: @foreground;
animation: repeat;
	animation-name: blink;
	animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        color: #4a4a4a;
        
    }
}

#custom-screenrecording-indicator {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: transparent;
}

#custom-screenrecording-indicator.active {
  color: #eb7087;
  background-color: @bg;
  animation-name: blink-recording;
  animation-duration: 0.5s;
}

@keyframes blink-recording {
    to {
        color: @bg;
    }
}

#battery.warning {
  color: #c95d0f;
   background-color: @bg;
}

@keyframes blink2 {
  to {
    background-color: @bg;
    color: #f53c3c;
  }
}

#battery.critical:not(.charging) {
  background-color: @bg;
  color: #e6d8ba;
  animation-name: blink2;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
