@import "../omarchy/current/theme/waybar.css";

* {
  /* background-color: @background; */
  /* color: @foreground; */

  border: none;
  padding: 0px;
  min-height: 0;
  font-family: "JetBrains Mono Nerd Font";
  transition: background-color .3s ease-out;
  font-weight: bold;
  font-size: 12px;
}
window#waybar  {
  background-color: transparent;
    transition-property: background-color;
  transition-duration: .5s;
}


#left1 {
  border-radius: 16px 0px 0 16px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin: 0px 0px 3px 0px;
  background-color: @background;
  box-shadow: 0px 0px 2px #101010;
  transition-property: background-color;
  transition-duration: .5s;
  padding-left: 4px;
}

#left2 {
   border-radius: 0px 16px 16px 0px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin: 0px 0px 3px 0px;
  background-color: @background;
  box-shadow: 0px 0px 2px #101010;
  transition-property: background-color;
  transition-duration: .5s;
  margin-left: 4px;
  padding-right: 8px;
}

.modules-center {
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin: 0px 0px 3px 0px;
  background-color: @background;
  box-shadow: 0px 0px 2px #101010;
  transition-property: background-color;
  transition-duration: .5s;
}

#right2 {
  border-radius: 16px 0px 0 16px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin: 0px 0px 3px 0px;
  background-color: @background;
  box-shadow: 0px 0px 2px #101010;
  transition-property: background-color;
  transition-duration: .5s;
  padding-left: 8px;
  margin-right: 4px;
}

#right1 {
   border-radius: 0px 16px 16px 0px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin: 0px 0px 3px 0px;
  background-color: @background;
  box-shadow: 0px 0px 2px #101010;
  transition-property: background-color;
  transition-duration: .5s;
  padding-right: 4px;
}


button {
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 0;
  transition: 0.3s ease-in-out;
}

button:hover {
  background: inherit;
}

#workspaces {
    margin: 0px;
    transition: 0.2s ease;
    margin: 0px 0px;
    padding: 0px 4px;
    padding-left: 0px;
}

#workspaces button label {
    font-size: 16px;
}

#workspaces button {
  padding: 0px 4px;
  margin: 0px;
  color: @foreground;
  opacity: 0.45;
  font-weight: bold;
}

#workspaces button.active {
  color: @foreground;   
  transition: all 0.3s ease;
  padding: 0px 4px;
  opacity: 1.0;
}

#workspaces button:hover {
    background: transparent;
    color: alpha(@foreground, 0.4);
    animation: ws_hover 20s ease-in-out 1;
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.empty {
  opacity: 0.1;
  color: @foreground;   
  transition: all 0.3s ease;
  padding: 0px 4px;
}

#workspaces button.empty.active {
  opacity: 1;
  color: @foreground;   
  transition: all 0.3s ease;
  padding: 0px 4px;
}


#memory,
#mpris,
#custom-expand-icon,
#tray,
#cpu,
#clock,
#battery,
#backlight,
#network,
#bluetooth,
#pulseaudio,
#power-profiles-daemon,
#custom-omarchy,
#idle_inhibitor,
#custom-updatespacman,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  padding: 0 4px;
  margin: 1px 3px 1px 3px;
}

#custom-omarchy {
font-size: 14px;
padding-left: 0px;
}


#custom-expand-icon {
  margin-right: 0px;
  opacity: 0.5;
}

#network {
  margin-left: 0;
}

#custom-separator {
  opacity: 0.2;
  padding-top: 2px;
  padding-left: 2px;
  padding-right: 0px;
}

tooltip {
  padding: 2px;
}

#power-profiles-daemon,
#power-profiles-daemon.performance,
#power-profiles-daemon.balanced,
#power-profiles-daemon.power-saver {
    margin: 0 4px;
}

.hidden {
  opacity: 0;
}

tooltip {
 padding: 4px;
 background: @background;
 font-size: 10px;
 border: 1px solid alpha(@foreground, 0.2);
 border-radius: 8px;
}
tooltip label {
    color: @foreground;
    font-weight: normal;
}

#custom-voxtype {
  min-width: 12px;
  margin: 0 0 0 2.5px;
}

#custom-voxtype.recording {
  color: #a55555;
}

/* Specific animation Module */


#custom-screenrecording-indicator {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: transparent;
}

#custom-screenrecording-indicator.active {
  color: #eb7087;
  animation-name: blink-recording;
  animation-duration: 0.5s;
}

@keyframes blink-recording {
    to {
        color: @background;
    }
}

@keyframes blink-inhibitor {
    to {
        color: @background;
    }
}

#mpris {
color: @foreground;
animation: repeat;
	animation-name: blink;
	animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        color: #4a4a4a;
        
    }
}
#cpu.warning,
#battery.warning {
  color: #c95d0f;
}

@keyframes blink2 {
  to {
    background-color: transparent;
    color: #f53c3c;
  }
}

#battery.critical:not(.charging) {
  background-color: transparent;
  color: #e6d8ba;
  animation-name: blink2;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
