@import "../omarchy/current/theme/waybar.css";

@define-color bg #161616;
@define-color fg #f2f4f8;
@define-color border-active #8A8A8D;
@define-color border-inactive #525252;

* {
  /* background-color: @background; */
  /* color: @foreground; */
  
  border-radius: 0;
  border: none;
  text-shadow: none;
  padding: 0;
	min-height: 0;
  font-family: 'CaskaydiaCove Nerd Font Propo';
}

#waybar  {
  background-color: @transparent;
}

#waybar > box {
  color: @fg;
  background-color: @bg;
  margin: 2px 4px 2px 4px;
  padding: 0px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 1);
  border-radius: 10px;
  border: 2px solid @border-active;
  font-weight: 700;
  font-size: 12px;
  transition-property: background-color;
  transition-duration: .5s;
  min-height: 26px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces {
  padding: 0 8px;
  margin: 0px;
}

#workspaces button {
  all: initial;
  padding: 0 4px;
  margin: 0 6px;
  opacity: 1;
  color: #33b1ff;
  font-size: 12px;
}

#workspaces button.active {
    color: #ee5396;
    opacity: 1.0;
    padding: 0 4px;
    margin: 0 6px;
    font-size: 12px;
}

#workspaces button.empty {
  opacity: 0.3;
  font-size: 12px;
  padding: 0 4px;
  margin: 0 6px;
  color: @fg;
}

#workspaces button.empty.active {
 font-size: 12px;
 color: @fg;
 opacity: 1.0;
 padding: 0 4px;
 margin: 0 6px;
}



#tray,
#clock,
#cpu,
#memory,
#battery,
#backlight,
#network,
#bluetooth,
#pulseaudio,
#power-profiles-daemon,
#mpris,
#temperature,
#idle_inhibitor,
#group-tray-expander,
#custom-update,
#custom-voxtype,
#custom-windowpill,
#custom-expand-icon,
#custom-omarchy,
#custom-omarchy-theme-set,
#custom-colorpicker,
#custom-updatespacman,
#custom-screenrecording-indicator {
  min-width: 12px;
  margin: 0px 2px 0px 2px;
  padding-left: 6px;
  padding-right: 6px;
}

tooltip {
  padding: 2px;
}

#tray {
    background-color: @background;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @background;
}

.hidden {
  opacity: 0;
}

#power-profiles-daemon,
#power-profiles-daemon.performance,
#power-profiles-daemon.balanced,
#power-profiles-daemon.power-saver {
    margin: 0 6px 0px 0px;
}

#group-tray-expander {
  background-color: @background;
  color: @foreground;
}

#custom-windowpill {
  min-width: 150px;
  padding-left: 10px;
  padding-right: 5px;
}

#custom-expand-icon {
padding: 0px;
color: @border-inactive;
}


tooltip {
 padding: 4px;
 background: @background;
 font-size: 10px;
 border: 2px solid @border-active;
 border-radius: 8px;
}
tooltip label {
    color: @foreground;
    font-weight: normal;
}

/* color earch module */

#cpu {
  color: #ee5396
}

#battery,
#memory {
  color: #33b1ff
}

#temperature {
  color: #42be65
}

#power-profiles-daemon {
  color: #be95ff
}

#pulseaudio {
  color: #ff7eb6
}

#network,
#bluetooth {
  color: #78a9ff
}

#idle_inhibitor {
  color: #08bdba
}

#custom-omarchy-theme-set,
#custom-colorpicker {
  color: #33b1ff
}

#custom-updatespacman {
  color:#ee5396
}

#custom-omarchy {
  color: #ff7eff;
  font-size: 13px;
}

#backlight,
#clock {
  color: #dde1e6;
}

/* Specific animation Module */

#custom-screenrecording-indicator {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: transparent;
}

#custom-screenrecording-indicator.active {
  color: #eb7087;
  animation-name: blink-recording;
  animation-duration: 0.5s;
}

@keyframes blink-recording {
    to {
        color: @background;
    }
}

#custom-voxtype {
  min-width: 12px;
  margin: 0 0 0 7.5px;
}

#custom-voxtype.recording {
  color: #a55555;
}

#mpris {
color: @foreground;
animation: repeat;
	animation-name: blink;
	animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        color: #4a4a4a;
        
    }
}

#battery.warning {
  color: #c95d0f;
  background-color: @background;
}

@keyframes blink2 {
  to {
    background-color: transparent;
    color: #f53c3c;
  }
}

#battery.critical:not(.charging) {
  background-color: transparent;
  color: #e6d8ba;
  animation-name: blink2;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
