@import "../omarchy/current/theme/waybar.css";

* {
  /* background-color: @background; */
  /* color: @foreground; */

  border: none;
  padding: 0px;
  min-height: 0;
  transition: background-color .3s ease-out;
  font-family: 'CaskaydiaCove Nerd Font Propo';

}

window#waybar  {
  background-color: transparent;
}

#waybar > box {
  border-radius: 4px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  margin: 1px 4px 2px 4px;
  background-color: @background;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 1);
  min-height: 15px;
  transition-property: background-color;
  transition-duration: .5s;
}


.modules-left {
margin-left: 4px;
}

.modules-right {
  margin-right: 4px;
}

#workspaces {
    background: transparent;
    margin: 4px 0px;
    padding: 4px 4px;
    border: 1.5px solid alpha(@foreground, 0.5);
    border-radius: 4px;
    transition: all 0.15s ease-in-out;
}

#workspaces button {
    min-width: 15px;
    min-height: 2px;
    padding: 0px;
    margin: 0 6px;
    border-radius: 26px;
    opacity: 0.65;
    background: @foreground;
    font-weight: 800;
    transition: all 0.15s ease-in-out;
}

#workspaces button.active {
  color: @foreground;
  min-width: 35px;
  min-height: 2px;
  padding: 0px;
  margin: 0px 6px;
  opacity: 1.0;
  border-bottom: 1px solid @foreground;
}

#workspaces button.empty:hover, 
#workspaces button:hover {
  color: @background;
  background-color: @foreground;
  opacity: 1;
  min-width: 35px;
  min-height: 2px;
}

#workspaces button.empty {
  opacity: 0.65;
  color: alpha(@foreground, 0.45);
  min-width: 3px;
}

#workspaces button.empty.active {
  opacity: 1;
  background-color: @foreground;
  color: @background;
}


#workspaces button label {
    font-size: 0px;
}


#memory,
#mpris,
#custom-expand-icon,
#tray,
#cpu,
#clock,
#battery,
#backlight,
#network,
#bluetooth,
#pulseaudio,
#idle_inhibitor,
#power-profiles-daemon,
#power-profiles-daemon.performance,
#power-profiles-daemon.balanced,
#power-profiles-daemon.power-saver,
#custom-omarchy,
#custom-updatespacman,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  padding: 0 4px;
  margin: 0px 3px 0px 3px;
  font-size: 11px;
  font-weight: 600;
}

#custom-expand-icon {
  margin-right: 0px;
  opacity: 0.5;
  font-size: 11px;
}

#custom-omarchy {
  font-size: 10px;
}


tooltip {
  padding: 2px;
}


.hidden {
  opacity: 0;
}

tooltip {
 padding: 4px;
 background: @background;
 font-size: 10px;
 border: 1px solid alpha(@foreground, 0.8);
 border-radius: 8px;
}
tooltip label {
    color: @foreground;
    font-weight: normal;
}

#custom-voxtype {
  min-width: 10px;
  margin: 0 0 0 2.5px;
  font-size: 11px;
}

#custom-voxtype.recording {
  color: #a55555;
}

/* Specific animation Module */


#custom-screenrecording-indicator {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: transparent;
}

#custom-screenrecording-indicator.active {
  color: #eb7087;
  animation-name: blink-recording;
  animation-duration: 0.5s;
}

@keyframes blink-recording {
    to {
        color: @background;
    }
}



#mpris {
color: @foreground;
animation: repeat;
	animation-name: blink;
	animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        color: #4a4a4a;
        
    }
}

#battery.warning {
  color: #c95d0f;
}

@keyframes blink2 {
  to {
    background-color: transparent;
    color: #f53c3c;
  }
}

#battery.critical:not(.charging) {
  background-color: transparent;
  color: #e6d8ba;
  animation-name: blink2;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
