@import "../omarchy/current/theme/waybar.css";
@define-color bg @background;
@define-color fg @foreground;
@define-color ia1 #101010;

* {
   border: none;
  padding: 0px;
  font-family: 'JetBrainsMono Nerd Font Propo';
  font-size: 10px;
  font-weight: bold;
  min-height: 0;
  transition: background-color .3s ease-out;
  }


/* --- Waybar ---*/
window#waybar {
  background-color: transparent;
}

#waybar > box {
  border-radius: 3px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin: 1px 8px 2px 4px;
  background-color: @bg;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 1);
  min-height: 15px;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.empty #window {
  background-color: transparent;
  padding: 0;
}

/* --- Modules --- */



.modules-center {
  background: @bg;
  padding: 0px;
  margin: 0px;
 }

#right {
  background: @bg;
  padding: 0px;
  margin-right: 5px;
}

#right2 {
  padding: 0px;
}

/* --- Workspaces --- */

button {
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 0;
  transition: 0.3s ease-in-out;
}

button:hover {
  background: inherit;
}

#workspaces {
  background-color: @bg;
  margin: 0px 0px;
  padding: 0px;
  border-radius: 3px;
}

#workspaces button {
  color: @fg;
  background-color: @bg;
  padding: 4px 4px;
  margin: 1px 1px;
  border-radius: 2px;
}
#workspaces button.active {
  background-color: @fg;
  color: @bg;
}

#workspaces button.empty {
  color: @fg;
  background: @bg;
  opacity: 0.35;
}

#workspaces button.empty.active {
  color: @bg;
  background: @fg;
  opacity: 1;
}

#workspaces button:hover {
  background-color: @fg;
  color: @bg;
  opacity: 1;
}


/* --- General Modules --- */


#mpris,
#memory,
#cpu,
#battery,
#network,
#backlight,
#bluetooth,
#pulseaudio,
#custom-idle-indicator,
#custom-notification-silencing-indicator,
#custom-updatespacman,
#custom-update,
#custom-screenrecording-indicator,
#clock {
  min-width: 14px;
  padding-left: 3px;
  padding-right: 3px;
  margin: 0 2px 0 2px; 
}

#battery,
#network,
#clock,
#cpu,
#memory,
#pulseaudio {
  font-size: 12px;
}

#backlight {
  padding-right: 0px;
  padding-left: 6px;
}

#bluetooth {
  padding-left: 0px;
}

#custom-updatespacman,
#custom-update,
#custom-voxtype,
#custom-screenrecording-indicator {
  padding-top: 1px;
}


tooltip {
  padding: 2px;
}

tooltip {
 padding: 4px;
 background: @bg;
 font-size: 10px;
 border: 1.5px solid alpha(@fg, 0.8);
 border-radius: 8px;
}
tooltip label {
    color: @fg;
    font-weight: normal;
}

#custom-windowpill {
  min-width: 150px;
  padding-left: 5px;
  padding-right: 5px;
}

#custom-expand-icon {
  opacity: 0.5;
  font-size: 11px;
  color: @foreground;
  padding: 0 5px;
}

#custom-voxtype {
  min-width: 12px;
  margin: 0 0 0 7.5px;
}

#custom-voxtype.recording {
  color: #a55555;
}

#custom-separator {
  opacity: 0.2;
  padding-top: 2px;
  padding-left: 4px;
  padding-right: 4px;
}

#custom-idle-indicator,
#custom-notification-silencing-indicator {
  min-width: 12px;
  margin-left: 0;
  margin-right: 0;
  font-size: 10px;
  padding-bottom: 0px;
}

#custom-idle-indicator.active,
#custom-notification-silencing-indicator.active {
  color: #a55555;
}

/* Specific Module */

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: transparent;
}

#custom-screenrecording-indicator.active {
  color: #eb7087;
  background-color: @bg;
  animation-name: blink-recording;
  animation-duration: 0.5s;
}

@keyframes blink-recording {
    to {
        color: @bg;
    }
}

#battery.warning {
  color: #c95d0f;
   background-color: @bg;
}

@keyframes blink2 {
  to {
    background-color: @bg;
    color: #f53c3c;
  }
}

#battery.critical:not(.charging) {
  background-color: @bg;
  color: #e6d8ba;
  animation-name: blink2;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
